[package]
name = "trustify-module-storage"
version.workspace = true
edition.workspace = true
publish.workspace = true
license.workspace = true

[dependencies]
trustify-common = { workspace = true }

anyhow = { workspace = true }
async-compression = { workspace = true, features = ["tokio", "zstd"] }
aws-config = { workspace = true }
aws-sdk-s3 = { workspace = true }
aws-smithy-http-client = { workspace = true }
aws-smithy-types = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
log = { workspace = true }
strum = { workspace = true, features = ["derive"] }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-util = { workspace = true, features = ["full"] }
tracing = { workspace = true }
urlencoding = { workspace = true }
uuid = { version = "1.16.0", features = ["v4"] }

[dev-dependencies]
rstest = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
test-log = { workspace = true, features = ["log", "trace"] }
test-context = { workspace = true }
uuid = { workspace = true, features = ["v4"] }

[features]
_test-s3 = []
