[workspace]
resolver = "2"
members = [
  "common",
  "common/auth",
  "common/infrastructure",
  "cvss",
  "entity",
  "integration-tests",
  "migration",
  "model",
  "modules/fetch",
  "modules/importer",
  "modules/ingestor",
  "modules/storage",
  "modules/ui",
  "modules/advisory",
  "modules/organization",
  "modules/vulnerability",
  "server",
  "trustd",
]

[workspace.dependencies]
actix = "0.13.3"
actix-cors = "0.7"
actix-http = "3.3.1"
actix-tls = "3"
actix-web = "4.3.1"
actix-web-extras = "0.1"
actix-web-httpauth = "0.8"
actix-web-opentelemetry = "0.17"
actix-web-prom = "0.8.0"
actix-web-static-files = "4.0.1"
anyhow = "1.0.72"
async-std = "1"
async-trait = "0.1.74"
base64 = "0.22"
biscuit = "0.7"
bytes = "1.5"
bytesize = "1.3"
chrono = { version = "0.4.35", default-features = false }
clap = "4"
concat-idents = "1"
cpe = "0.1.3"
csaf = "0.5.0"
csaf-walker = { version = "0.7.0", default-features = false }
cyclonedx-bom = "0.5.0"
env_logger = "0.11.0"
futures = "0.3.30"
futures-util = "0.3"
hex = "0.4.3"
http = "1"
human-date-parser = "0.1"
humantime = "2"
humantime-serde = "1"
indicatif = "0.17.8"
indicatif-log-bridge = "0.2"
itertools = "0.12"
jsonpath-rust = "0.5"
lenient_semver = "0.4.2"
log = "0.4.19"
native-tls = "0.2"
once_cell = "1.19.0"
openid = "0.14"
openssl = "0.10"
opentelemetry = "0.22"
opentelemetry-otlp = "0.15"
opentelemetry_sdk = "0.22"
packageurl = "0.3.0"
parking_lot = "0.12"
pem = "3"
postgresql_embedded = "0.9.1"
prometheus = "0.13.3"
rand = "0.8.5" # for testing
regex = "1.10.3"
reqwest = "0.12"
ring = "0.17.8"
rust-lzma = "0.6.0"
sbom-walker = { version = "0.7.0", default-features = false }
schemars = "0.8"
sea-orm = "0.12"
sea-orm-migration = "0.12.2"
sea-query = "0.30.0"
serde = "1.0.183"
serde_json = "1.0.114"
serde_yaml = "0.9"
sha2 = "0.10.8"
spdx-expression = "0.5.2"
spdx-rs = "0.5.3"
sqlx = "0.7"
static-files = "0.2.3"
tempfile = "3"
test-context = "0.3"
test-log = "0.2.16"
thiserror = "1.0.58"
time = "0.3"
tokio = "1.30.0"
tokio-util = "0.7"
tracing = "0.1"
tracing-bunyan-formatter = "0.3.7"
tracing-opentelemetry = "0.23"
tracing-subscriber = { version = "0.3.17", default-features = false }
url = "2.5.0"
urlencoding = "2"
utoipa = "4"
utoipa-swagger-ui = "6"
uuid = "1.7.0"
walker-common = "0.7.0"
walker-extras = "0.7.0"

trustify-auth = { path = "common/auth", features = ["actix", "swagger"] }
trustify-common = { path = "common" }
trustify-cvss = { path = "cvss" }
trustify-entity = { path = "entity" }
trustify-importer = { path = "importer"}
trustify-infrastructure = { path = "common/infrastructure" }
trustify-migration = { path = "migration" }
trustify-model = { path = "model" }
trustify-module-fetch = { path = "modules/fetch" }
trustify-module-importer = { path = "modules/importer" }
trustify-module-ingestor = { path = "modules/ingestor" }
trustify-module-search = { path = "modules/search" }
trustify-module-storage = { path = "modules/storage" }
trustify-module-ui = { path = "modules/ui", default-features = false }
trustify-module-advisory = { path = "modules/advisory" }
trustify-module-organization = { path = "modules/organization" }
trustify-module-vulnerability = { path = "modules/vulnerability" }
trustify-server = { path = "server", default-features = false }
trustify-ui = { git = "https://github.com/trustification/trustify-ui.git", tag = "static-main" }

[patch.crates-io]
#csaf-walker = { git = "https://github.com/ctron/csaf-walker", rev = "7b6e64dd56e4be79e184b053ef754a42e1496fe0" }
#sbom-walker = { git = "https://github.com/ctron/csaf-walker", rev = "7b6e64dd56e4be79e184b053ef754a42e1496fe0" }
#walker-common = { git = "https://github.com/ctron/csaf-walker", rev = "7b6e64dd56e4be79e184b053ef754a42e1496fe0" }
#walker-extras = { git = "https://github.com/ctron/csaf-walker", rev = "7b6e64dd56e4be79e184b053ef754a42e1496fe0" }

#csaf-walker = { path = "../csaf-walker/csaf" }
#sbom-walker = { path = "../csaf-walker/sbom" }
#walker-common = { path = "../csaf-walker/common" }
#walker-extras = { path = "../csaf-walker/extras" }

# required due to:
# * https://github.com/CycloneDX/cyclonedx-rust-cargo/pull/708
cyclonedx-bom = { git = "https://github.com/ctron/cyclonedx-rust-cargo", rev = "3c8ebf47a00f9b4b596712af61602695ae5134f3" }

